# Maven
target/
backend/target/

# IntelliJ IDEA
.idea/
*.iml

# MacOS
.DS_Store

# Logs
*.log

# Environment files
.env

# Compiled class file
*.class

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Java crash logs
hs_err_pid*
replay_pid*